# Assignment 05
Due Oct 10, 2024

Similar to Assignment 03, we will make use of Example Databases.

Populate the Example Databases by executing five scrips:
* The [University Database](../examples/000-university-database.ipynb)
* The [Sales Database](../examples/010-sales-database.ipynb)
* The [Nation Database](../examples/030-nations-database.ipynb)

If you populate everything right, the following code should produce the schema diagrams for the example databases. You can refer to them when writing queries.

In [2]:
# Diagrams 
import datajoint as dj

sales = dj.VirtualModule('sales', 'classicsales')
university = dj.VirtualModule('university', 'university')
nation = dj.VirtualModule('nation', 'nation')

dj.Diagram(sales) + dj.Diagram(university) + dj.Diagram(nation)

In [3]:
import pymysql
import os
pymysql.install_as_MySQLdb()

connection_string = "mysql://{user}:{password}@{host}".format(
    user=os.environ['DJ_USER'],
    host=os.environ['DJ_HOST'],
    password=os.environ['DJ_PASS']
)

%load_ext sql
%sql $connection_string

In [4]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

# Problems

Write the following queries. Make sure that at least one query is written in DataJoint, one in SQL IPython Magic, and one using a mysql client cursor.

All the queries in this assignment require only one table. No multi-table queries will be required here.

To get the full credit, the query must be work correctly and should be minimal, without any extraneous information.

### Problem 1 (Sales)
Show all the employees in the USA offices.

In [5]:
# Query to project the required fields and filter by country
result = (sales.Office * sales.Employee & 'country = "USA"').proj('office_code', 'first_name', 'last_name', 'city')

# Fetch and print the results
offices_in_usa = result.fetch('office_code', 'first_name', 'last_name', 'city')
print(offices_in_usa)

[array(['1', '1', '1', '1', '1', '1', '2', '2', '3', '3'], dtype=object), array(['Diane', 'Mary', 'Jeff', 'Anthony', 'Leslie', 'Leslie', 'Julie',
       'Steve', 'Foon Yue', 'George'], dtype=object), array(['Murphy', 'Patterson', 'Firrelli', 'Bow', 'Jennings', 'Thompson',
       'Firrelli', 'Patterson', 'Tseng', 'Vanauf'], dtype=object), array(['San Francisco', 'San Francisco', 'San Francisco', 'San Francisco',
       'San Francisco', 'San Francisco', 'Boston', 'Boston', 'NYC', 'NYC'],
      dtype=object)]

### Problem 2 (Sales)
Show all customers whose sales rep is in the USA.

In [6]:
%%sql
SELECT customer_name, sales_rep
FROM classicsales.customer
WHERE country = "USA";

 * mysql://root:***@localhost
36 rows affected.

[('Signal Gift Stores', 1166),
 ('Mini Gifts Distributors Ltd.', 1165),
 ('Mini Wheels Co.', 1165),
 ('Land of Toys Inc.', 1323),
 ('Muscle Machine Inc', 1286),
 ('Diecast Classics Inc.', 1216),
 ('Technics Stores Inc.', 1165),
 ('American Souvenirs Inc', 1286),
 ('Cambridge Collectables Co.', 1188),
 ('Gift Depot Inc.', 1323),
 ('Vitachrome Inc.', 1286),
 ('Auto-Moto Classics Inc.', 1216),
 ('Online Mini Collectables', 1188),
 ('Toys4GrownUps.com', 1166),
 ('Boards & Toys Co.', 1166),
 ('Collectable Mini Designs Co.', 1166),
 ("Marta's Replicas Co.", 1216),
 ('Mini Classics', 1323),
 ('Mini Creations Ltd.', 1188),
 ('Corporate Gift Ideas Co.', 1165),
 ('Tekni Collectables Inc.', 1323),
 ('Classic Gift Ideas, Inc', 1188),
 ("Men 'R' US Retailers, Ltd.", 1166),
 ('Gifts4AllAges.com', 1216),
 ('Online Diecast Creations Co.', 1216),
 ('Collectables For Less Inc.', 1188),
 ('Classic Legends Inc.', 1286),
 ('Gift Ideas Corp.', 1323),
 ('The Sharp Gifts Warehouse', 1165),
 ('Super Scale Inc.', 1286),
 ('Microscale Inc.', 1286),
 ('FunGiftIdeas.com', 1216),
 ('West Coast Collectables Co.', 1166),
 ('Motor Mint Distributors Inc.', 1323),
 ('Signal Collectibles Ltd.', 1165),
 ('Diecast Collectables', 1188)]

### Problem 3 (Sales)

Show all customers who hae bought items of over $200 in price.

In [7]:
%%sql
SELECT customer_number, amount
FROM classicsales.payment
WHERE amount > 200;

 * mysql://root:***@localhost
273 rows affected.

[(103, Decimal('6066.78')),
 (103, Decimal('14571.44')),
 (103, Decimal('1676.14')),
 (112, Decimal('14191.12')),
 (112, Decimal('32641.98')),
 (112, Decimal('33347.88')),
 (114, Decimal('45864.03')),
 (114, Decimal('82261.22')),
 (114, Decimal('7565.08')),
 (114, Decimal('44894.74')),
 (119, Decimal('19501.82')),
 (119, Decimal('47924.19')),
 (119, Decimal('49523.67')),
 (121, Decimal('50218.95')),
 (121, Decimal('1491.38')),
 (121, Decimal('17876.32')),
 (121, Decimal('34638.14')),
 (124, Decimal('101244.59')),
 (124, Decimal('85410.87')),
 (124, Decimal('11044.30')),
 (124, Decimal('83598.04')),
 (124, Decimal('47142.70')),
 (124, Decimal('55639.66')),
 (124, Decimal('111654.40')),
 (124, Decimal('43369.30')),
 (124, Decimal('45084.38')),
 (128, Decimal('10549.01')),
 (128, Decimal('24101.81')),
 (128, Decimal('33820.62')),
 (128, Decimal('7466.32')),
 (129, Decimal('26248.78')),
 (129, Decimal('23923.93')),
 (129, Decimal('16537.85')),
 (131, Decimal('22292.62')),
 (131, Decimal('50025.35')),
 (131, Decimal('35321.97')),
 (141, Decimal('36251.03')),
 (141, Decimal('36140.38')),
 (141, Decimal('46895.48')),
 (141, Decimal('59830.55')),
 (141, Decimal('116208.40')),
 (141, Decimal('65071.26')),
 (141, Decimal('120166.58')),
 (141, Decimal('49539.37')),
 (141, Decimal('40206.20')),
 (141, Decimal('63843.55')),
 (141, Decimal('35420.74')),
 (141, Decimal('20009.53')),
 (141, Decimal('26155.91')),
 (144, Decimal('36005.71')),
 (144, Decimal('7674.94')),
 (145, Decimal('4710.73')),
 (145, Decimal('28211.70')),
 (145, Decimal('20564.86')),
 (145, Decimal('53959.21')),
 (146, Decimal('40978.53')),
 (146, Decimal('49614.72')),
 (146, Decimal('39712.10')),
 (148, Decimal('44380.15')),
 (148, Decimal('2611.84')),
 (148, Decimal('105743.00')),
 (148, Decimal('3516.04')),
 (151, Decimal('58793.53')),
 (151, Decimal('20314.44')),
 (151, Decimal('58841.35')),
 (151, Decimal('39964.63')),
 (157, Decimal('35152.12')),
 (157, Decimal('63357.13')),
 (161, Decimal('2434.25')),
 (161, Decimal('50743.65')),
 (161, Decimal('12692.19')),
 (161, Decimal('38675.13')),
 (166, Decimal('38785.48')),
 (166, Decimal('44160.92')),
 (166, Decimal('22474.17')),
 (167, Decimal('12538.01')),
 (167, Decimal('85024.46')),
 (171, Decimal('18997.89')),
 (171, Decimal('42783.81')),
 (172, Decimal('1960.80')),
 (172, Decimal('51209.58')),
 (172, Decimal('33383.14')),
 (173, Decimal('11843.45')),
 (173, Decimal('20355.24')),
 (175, Decimal('28500.78')),
 (175, Decimal('24879.08')),
 (175, Decimal('42044.77')),
 (177, Decimal('15183.63')),
 (177, Decimal('47177.59')),
 (181, Decimal('22602.36')),
 (181, Decimal('5494.78')),
 (181, Decimal('44400.50')),
 (186, Decimal('23602.90')),
 (186, Decimal('37602.48')),
 (186, Decimal('34341.08')),
 (187, Decimal('52825.29')),
 (187, Decimal('47159.11')),
 (187, Decimal('48425.69')),
 (189, Decimal('17359.53')),
 (189, Decimal('32538.74')),
 (198, Decimal('9658.74')),
 (198, Decimal('6036.96')),
 (198, Decimal('5858.56')),
 (201, Decimal('23908.24')),
 (201, Decimal('37258.94')),
 (202, Decimal('36527.61')),
 (202, Decimal('33594.58')),
 (204, Decimal('51152.86')),
 (204, Decimal('4424.40')),
 (205, Decimal('3879.96')),
 (205, Decimal('50342.74')),
 (205, Decimal('39580.60')),
 (209, Decimal('35157.75')),
 (209, Decimal('4632.31')),
 (209, Decimal('36069.26')),
 (211, Decimal('45480.79')),
 (216, Decimal('3101.40')),
 (216, Decimal('24945.21')),
 (216, Decimal('40473.86')),
 (219, Decimal('3452.75')),
 (219, Decimal('4465.85')),
 (227, Decimal('36164.46')),
 (227, Decimal('53745.34')),
 (233, Decimal('29070.38')),
 (233, Decimal('22997.45')),
 (233, Decimal('16909.84')),
 (239, Decimal('80375.24')),
 (240, Decimal('46788.14')),
 (240, Decimal('24995.61')),
 (242, Decimal('33818.34')),
 (242, Decimal('12432.32')),
 (242, Decimal('14232.70')),
 (249, Decimal('33924.24')),
 (249, Decimal('48298.99')),
 (250, Decimal('17928.09')),
 (250, Decimal('26311.63')),
 (250, Decimal('23419.47')),
 (256, Decimal('5759.42')),
 (256, Decimal('53116.99')),
 (259, Decimal('61234.67')),
 (259, Decimal('27988.47')),
 (260, Decimal('37527.58')),
 (260, Decimal('29284.42')),
 (276, Decimal('27083.78')),
 (276, Decimal('38547.19')),
 (276, Decimal('41554.73')),
 (276, Decimal('29848.52')),
 (278, Decimal('37654.09')),
 (278, Decimal('52151.81')),
 (278, Decimal('37723.79')),
 (282, Decimal('24013.52')),
 (282, Decimal('35806.73')),
 (282, Decimal('31835.36')),
 (286, Decimal('47411.33')),
 (286, Decimal('43134.04')),
 (298, Decimal('47375.92')),
 (298, Decimal('61402.00')),
 (299, Decimal('36798.88')),
 (299, Decimal('32260.16')),
 (311, Decimal('46770.52')),
 (311, Decimal('32723.04')),
 (311, Decimal('16212.59')),
 (314, Decimal('45352.47')),
 (314, Decimal('16901.38')),
 (319, Decimal('42339.76')),
 (319, Decimal('36092.40')),
 (320, Decimal('8307.28')),
 (320, Decimal('41016.75')),
 (320, Decimal('52548.49')),
 (321, Decimal('85559.12')),
 (321, Decimal('46781.66')),
 (323, Decimal('75020.13')),
 (323, Decimal('37281.36')),
 (323, Decimal('2880.00')),
 (323, Decimal('39440.59')),
 (324, Decimal('13671.82')),
 (324, Decimal('29429.14')),
 (324, Decimal('37455.77')),
 (328, Decimal('7178.66')),
 (328, Decimal('31102.85')),
 (333, Decimal('23936.53')),
 (333, Decimal('9821.32')),
 (333, Decimal('21432.31')),
 (334, Decimal('45785.34')),
 (334, Decimal('29716.86')),
 (334, Decimal('28394.54')),
 (339, Decimal('23333.06')),
 (339, Decimal('34606.28')),
 (344, Decimal('31428.21')),
 (344, Decimal('15322.93')),
 (347, Decimal('21053.69')),
 (347, Decimal('20452.50')),
 (350, Decimal('18888.31')),
 (350, Decimal('50824.66')),
 (350, Decimal('1834.56')),
 (353, Decimal('49705.52')),
 (353, Decimal('13920.26')),
 (353, Decimal('16700.47')),
 (353, Decimal('46656.94')),
 (357, Decimal('20220.04')),
 (357, Decimal('36442.34')),
 (362, Decimal('18473.71')),
 (362, Decimal('15059.76')),
 (363, Decimal('50799.69')),
 (363, Decimal('10223.83')),
 (363, Decimal('55425.77')),
 (379, Decimal('28322.83')),
 (379, Decimal('32680.31')),
 (379, Decimal('12530.51')),
 (381, Decimal('12081.52')),
 (381, Decimal('1627.56')),
 (381, Decimal('14379.90')),
 (381, Decimal('1128.20')),
 (382, Decimal('35826.33')),
 (382, Decimal('6419.84')),
 (382, Decimal('42813.83')),
 (385, Decimal('20644.24')),
 (385, Decimal('15822.84')),
 (385, Decimal('51001.22')),
 (386, Decimal('38524.29')),
 (386, Decimal('51619.02')),
 (398, Decimal('33967.73')),
 (398, Decimal('22037.91')),
 (398, Decimal('615.45')),
 (398, Decimal('48927.64')),
 (406, Decimal('12190.85')),
 (406, Decimal('49165.16')),
 (406, Decimal('25080.96')),
 (412, Decimal('35034.57')),
 (412, Decimal('31670.37')),
 (415, Decimal('31310.09')),
 (424, Decimal('25505.98')),
 (424, Decimal('21665.98')),
 (424, Decimal('22042.37')),
 (447, Decimal('6631.36')),
 (447, Decimal('17032.29')),
 (447, Decimal('26304.13')),
 (448, Decimal('27966.54')),
 (448, Decimal('48809.90')),
 (450, Decimal('59551.38')),
 (452, Decimal('27121.90')),
 (452, Decimal('15130.97')),
 (452, Decimal('8807.12')),
 (455, Decimal('38139.18')),
 (455, Decimal('32239.47')),
 (456, Decimal('27550.51')),
 (456, Decimal('1679.92')),
 (458, Decimal('33145.56')),
 (458, Decimal('22162.61')),
 (458, Decimal('57131.92')),
 (462, Decimal('30293.77')),
 (462, Decimal('9977.85')),
 (462, Decimal('48355.87')),
 (471, Decimal('9415.13')),
 (471, Decimal('35505.63')),
 (473, Decimal('7612.06')),
 (473, Decimal('17746.26')),
 (475, Decimal('7678.25')),
 (475, Decimal('36070.47')),
 (484, Decimal('3474.66')),
 (484, Decimal('47513.19')),
 (486, Decimal('5899.38')),
 (486, Decimal('45994.07')),
 (486, Decimal('25833.14')),
 (487, Decimal('29997.09')),
 (487, Decimal('12573.28')),
 (489, Decimal('22275.73')),
 (489, Decimal('7310.42')),
 (495, Decimal('59265.14')),
 (495, Decimal('6276.60')),
 (496, Decimal('30253.75')),
 (496, Decimal('32077.44')),
 (496, Decimal('52166.00'))]

### Problem 4 (Sales)

Show all employees whose boss works in a different office than they.

In [5]:
%%sql
USE classicsales;
SELECT e.employee_number
FROM employee as e NATURAL JOIN report JOIN employee as boss
ON boss.employee_number = reports_to
WHERE e.office_code <> boss.office_code;

 * mysql://root:***@localhost
0 rows affected.
9 rows affected.

[(1088,),
 (1102,),
 (1621,),
 (1501,),
 (1504,),
 (1188,),
 (1216,),
 (1286,),
 (1323,)]

### Problem 5 (Sales) 
Show all customers who have never made purchses on Saturday or Sunday.

In [8]:
%%sql
SELECT DISTINCT customer_number
FROM classicsales.payment
WHERE DAYOFWEEK(payment_date) NOT IN (1,7);

 * mysql://root:***@localhost
92 rows affected.

[(103,),
 (112,),
 (114,),
 (119,),
 (121,),
 (124,),
 (128,),
 (129,),
 (131,),
 (141,),
 (144,),
 (145,),
 (146,),
 (148,),
 (151,),
 (157,),
 (161,),
 (166,),
 (167,),
 (171,),
 (172,),
 (173,),
 (175,),
 (177,),
 (181,),
 (186,),
 (187,),
 (189,),
 (198,),
 (201,),
 (202,),
 (204,),
 (205,),
 (209,),
 (211,),
 (216,),
 (219,),
 (227,),
 (233,),
 (239,),
 (240,),
 (242,),
 (250,),
 (256,),
 (260,),
 (276,),
 (278,),
 (282,),
 (286,),
 (299,),
 (311,),
 (314,),
 (320,),
 (321,),
 (323,),
 (324,),
 (328,),
 (333,),
 (334,),
 (339,),
 (344,),
 (347,),
 (353,),
 (357,),
 (362,),
 (363,),
 (379,),
 (381,),
 (382,),
 (385,),
 (386,),
 (398,),
 (406,),
 (412,),
 (415,),
 (424,),
 (447,),
 (448,),
 (450,),
 (452,),
 (455,),
 (456,),
 (458,),
 (462,),
 (471,),
 (473,),
 (475,),
 (484,),
 (486,),
 (489,),
 (495,),
 (496,)]

### Problem 6 (Nation)
Show the names of countries where Spanish is spoken but is not the official language.

In [9]:
%%sql
SELECT name
FROM nation.countries
WHERE country_id IN (
    SELECT country_id
    FROM nation.country_languages
    WHERE language_id = 4 AND official = 0
);

 * mysql://root:***@localhost
8 rows affected.

[('Aruba',),
 ('Andorra',),
 ('Belize',),
 ('Canada',),
 ('France',),
 ('Sweden',),
 ('United States',),
 ('Virgin Islands, U.S.',)]

### Problem 7 (Nation)
List all country names and their 2018 GDP in North and South America.

In [10]:
%%sql
SELECT n.name, n.country_id, s.gdp
FROM nation.countries n
JOIN nation.country_stats s ON n.country_id = s.country_id
WHERE s.year = 2018
  AND n.region_id IN (1, 6, 15);

 * mysql://root:***@localhost
25 rows affected.

[('Antigua and Barbuda', 14, Decimal('1623804016')),
 ('Dominica', 59, Decimal('503646211')),
 ('Dominican Republic', 61, Decimal('81298585403')),
 ('Grenada', 87, Decimal('1207454556')),
 ('Haiti', 97, Decimal('9658084644')),
 ('Jamaica', 108, Decimal('15717858487')),
 ('Saint Kitts and Nevis', 116, Decimal('1039875050')),
 ('Saint Lucia', 123, Decimal('1876189778')),
 ('Puerto Rico', 173, Decimal('101131000000')),
 ('Turks and Caicos Islands', 205, Decimal('1022312010')),
 ('Trinidad and Tobago', 214, Decimal('23410353435')),
 ('Saint Vincent and the Grenadines', 227, Decimal('813093984')),
 ('Argentina', 9, Decimal('518475000000')),
 ('Bolivia', 30, Decimal('40287647757')),
 ('Brazil', 31, Decimal('1868630000000')),
 ('Chile', 41, Decimal('298231000000')),
 ('Colombia', 48, Decimal('330228000000')),
 ('Ecuador', 63, Decimal('108398000000')),
 ('Guyana', 92, Decimal('3610435299')),
 ('Peru', 168, Decimal('222238000000')),
 ('Paraguay', 176, Decimal('40842341774')),
 ('Suriname', 198, Decimal('3427269682')),
 ('Uruguay', 223, Decimal('59596885024')),
 ('Canada', 38, Decimal('1712510000000')),
 ('United States', 224, Decimal('20494100000000'))]

### Problem 8 (Nation) 

List all country names whose per capita GDP exceeded 50,000 in 2018.

In [11]:
sales.Office * sales.Employee * sales.Report

*office_code   *employee_numb city           phone          postal_line1   postal_line2   state     country     postal_code    territory     last_name     first_name     extension     email          job_title      reports_to
+------------+ +------------+ +------------+ +------------+ +------------+ +------------+ +-------+ +---------+ +------------+ +-----------+ +-----------+ +------------+ +-----------+ +------------+ +------------+ +------------+
1              1056           San Francisco  +1 650 219 478 100 Market Str Suite 300      CA        USA         94080          NA            Patterson     Mary           x4611         mpatterso@clas VP Sales       1002
1              1076           San Francisco  +1 650 219 478 100 Market Str Suite 300      CA        USA         94080          NA            Firrelli      Jeff           x9273         jfirrelli@clas VP Marketing   1002
1              1143           San Francisco  +1 650 219 478 100 Market Str Suite 300      CA        USA         94080          NA            Bow           Anthony        x5428         abow@classicmo Sales Manager  1056
1              1165           San Francisco  +1 650 219 478 100 Market Str Suite 300      CA        USA         94080          NA            Jennings      Leslie         x3291         ljennings@clas Sales Rep      1143
1              1166           San Francisco  +1 650 219 478 100 Market Str Suite 300      CA        USA         94080          NA            Thompson      Leslie         x4065         lthompson@clas Sales Rep      1143
2              1188           Boston         +1 215 837 082 1550 Court Pla Suite 102      MA        USA         02107          NA            Firrelli      Julie          x2173         jfirrelli@clas Sales Rep      1143
2              1216           Boston         +1 215 837 082 1550 Court Pla Suite 102      MA        USA         02107          NA            Patterson     Steve          x4334         spatterson@cla Sales Rep      1143
3              1286           NYC            +1 212 555 300 523 East 53rd  apt. 5A        NY        USA         10022          NA            Tseng         Foon Yue       x2248         ftseng@classic Sales Rep      1143
3              1323           NYC            +1 212 555 300 523 East 53rd  apt. 5A        NY        USA         10022          NA            Vanauf        George         x4102         gvanauf@classi Sales Rep      1143
4              1102           Paris          +33 14 723 440 43 Rue Jouffro None           None      France      75017          EMEA          Bondur        Gerard         x5408         gbondur@classi Sale Manager ( 1056
4              1337           Paris          +33 14 723 440 43 Rue Jouffro None           None      France      75017          EMEA          Bondur        Loui           x6493         lbondur@classi Sales Rep      1102
4              1370           Paris          +33 14 723 440 43 Rue Jouffro None           None      France      75017          EMEA          Hernandez     Gerard         x2028         ghernande@clas Sales Rep      1102
   ...
 (Total: 22)

### Problem 9 (University)

List all math majors who are not enrolled in a math course in the current term.

In [13]:
((university.Student.proj('first_name', 'last_name') & (university.StudentMajor & 'dept="MATH"'))-(university.Enroll * university.CurrentTerm & 'dept="MATH"'))

*student_id    first_name     last_name
+------------+ +------------+ +------------+
101            Michael        Holt
104            Sierra         Smith
120            Matthew        White
139            Alexander      Miller
141            James          Richards
143            David          Harrington
144            Edward         Kim
148            Anthony        Lawrence
152            Chelsey        Gilbert
160            Christine      Watson
168            Michelle       Lee
170            Joy            Marsh
   ...
 (Total: 45)

### Problem 10 (University)
Show the names of all students from Texas who are math majors

In [18]:
%%sql
SELECT DISTINCT s.first_name, s.last_name, s.student_id
FROM university.student s
JOIN university.enroll e ON s.student_id = e.student_id
WHERE s.home_state = 'TX' AND e.dept = 'MATH';

 * mysql://root:***@localhost
0 rows affected.

[]