# Assignment 06

Similar to previous assignments, we will make use of Example Databases.

Populate the Example Databases by executing five scrips:
* The [University Database](../examples/000-university-database.ipynb)
* The [Sales Database](../examples/010-sales-database.ipynb)
* The [Nation Database](../examples/030-nations-database.ipynb)

If you populate everything right, the following code should produce the schema diagrams for the example databases. You can refer to them when writing queries.

In [2]:
# Diagrams 
import datajoint as dj

sales = dj.VirtualModule('sales', 'classicsales')
university = dj.VirtualModule('university', 'university')
nation = dj.VirtualModule('nation', 'nation')

dj.Diagram(sales) + dj.Diagram(university) + dj.Diagram(nation)

In [3]:
# prepare SQL magic
import pymysql
import os
pymysql.install_as_MySQLdb()

connection_string = "mysql://{user}:{password}@{host}".format(
    user=os.environ['DJ_USER'],
    host=os.environ['DJ_HOST'],
    password=os.environ['DJ_PASS']
)

%load_ext sql
%sql $connection_string

In [4]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

# Problems

Write the following queries. Make sure that at least one query is written in DataJoint, one in SQL IPython Magic, and one using a mysql client cursor.

To get the full credit, the query must be work correctly and should be minimal, without any extraneous information.

### Problem 1 (Sales)
Show all offices with their locations and the number of employees in each

In [29]:
(sales.Office * sales.Employee).proj('office_code','city', 'employee_number')

*office_code   *employee_numb city
+------------+ +------------+ +------------+
1              1002           San Francisco
1              1056           San Francisco
1              1076           San Francisco
1              1143           San Francisco
1              1165           San Francisco
1              1166           San Francisco
2              1188           Boston
2              1216           Boston
3              1286           NYC
3              1323           NYC
4              1102           Paris
4              1337           Paris
   ...
 (Total: 23)

### Problem 2 (Sales)
Show all employees and the number of people who report to them.

In [79]:
(sales.Employee * sales.Report) * sales.Employee.proj(reports_to="employee_number")

*employee_numb *reports_to    last_name     first_name     extension     email          office_code    job_title
+------------+ +------------+ +-----------+ +------------+ +-----------+ +------------+ +------------+ +------------+
1056           1002           Patterson     Mary           x4611         mpatterso@clas 1              VP Sales
1076           1002           Firrelli      Jeff           x9273         jfirrelli@clas 1              VP Marketing
1088           1056           Patterson     William        x4871         wpatterson@cla 6              Sales Manager
1102           1056           Bondur        Gerard         x5408         gbondur@classi 4              Sale Manager (
1143           1056           Bow           Anthony        x5428         abow@classicmo 1              Sales Manager
1165           1143           Jennings      Leslie         x3291         ljennings@clas 1              Sales Rep
1166           1143           Thompson      Leslie         x4065         lthompson@clas 1              Sales Rep
1188           1143           Firrelli      Julie          x2173         jfirrelli@clas 2              Sales Rep
1216           1143           Patterson     Steve          x4334         spatterson@cla 2              Sales Rep
1286           1143           Tseng         Foon Yue       x2248         ftseng@classic 3              Sales Rep
1323           1143           Vanauf        George         x4102         gvanauf@classi 3              Sales Rep
1337           1102           Bondur        Loui           x6493         lbondur@classi 4              Sales Rep
   ...
 (Total: 22)

### Problem 3 (Sales)

Show all orders placed in January 2005, including their total amounts.

In [16]:
result = ((sales.Order * sales.Payment).proj('order_date', 'order_number', 'amount') & 
          'order_date > "2004-12-31"' & 
          'order_date < "2006-01-01"')

print(result)

*order_number  *customer_numb *check_number  order_date     amount
+------------+ +------------+ +------------+ +------------+ +----------+
10362          161            BR352384       2005-01-05     2434.25
10362          161            BR478494       2005-01-05     50743.65
10362          161            KG644125       2005-01-05     12692.19
10362          161            NI908214       2005-01-05     38675.13
10363          334            CS435306       2005-01-06     45785.34
10363          334            HH517378       2005-01-06     29716.86
10363          334            LF737277       2005-01-06     28394.54
10364          350            BQ602907       2005-01-06     18888.31
10364          350            CI471510       2005-01-06     50824.66
10364          350            OB648482       2005-01-06     1834.56
10365          320            GJ597719       2005-01-07     8307.28
10365          320            HO576374       2005-01-07     41016.75
   ...
 (Total: 318)

### Problem 4 (Sales)
Show the total payment amounts collected in 2005

In [5]:
payment1 = sales.Payment()

# Fetch the result1s using DataJoint restrictions
result1 = (payment1 & 'payment_date > "2004-12-31"' & 'payment_date < "2006-01-01"').proj('customer_number', 'check_number', 'payment_date', 'amount')

# Fetch the result1s as a dictionary
final_result1 = result1.fetch(as_dict=True)

# Print the final result1
print(final_result1)

[{'customer_number': 119, 'check_number': 'NG94694', 'payment_date': datetime.date(2005, 2, 22), 'amount': Decimal('49523.67')}, {'customer_number': 124, 'check_number': 'AE215433', 'payment_date': datetime.date(2005, 3, 5), 'amount': Decimal('101244.59')}, {'customer_number': 124, 'check_number': 'ET64396', 'payment_date': datetime.date(2005, 4, 16), 'amount': Decimal('83598.04')}, {'customer_number': 141, 'check_number': 'DL460618', 'payment_date': datetime.date(2005, 5, 19), 'amount': Decimal('46895.48')}, {'customer_number': 141, 'check_number': 'IN446258', 'payment_date': datetime.date(2005, 3, 25), 'amount': Decimal('65071.26')}, {'customer_number': 141, 'check_number': 'JE105477', 'payment_date': datetime.date(2005, 3, 18), 'amount': Decimal('120166.58')}, {'customer_number': 148, 'check_number': 'ME497970', 'payment_date': datetime.date(2005, 3, 27), 'amount': Decimal('3516.04')}, {'customer_number': 161, 'check_number': 'KG644125', 'payment_date': datetime.date(2005, 2, 2), 'amount': Decimal('12692.19')}, {'customer_number': 175, 'check_number': 'CITI3434344', 'payment_date': datetime.date(2005, 5, 19), 'amount': Decimal('28500.78')}, {'customer_number': 186, 'check_number': 'AE192287', 'payment_date': datetime.date(2005, 3, 10), 'amount': Decimal('23602.90')}, {'customer_number': 205, 'check_number': 'NM739638', 'payment_date': datetime.date(2005, 2, 6), 'amount': Decimal('39580.60')}, {'customer_number': 209, 'check_number': 'BOAF82044', 'payment_date': datetime.date(2005, 5, 3), 'amount': Decimal('35157.75')}, {'customer_number': 219, 'check_number': 'BN17870', 'payment_date': datetime.date(2005, 3, 2), 'amount': Decimal('3452.75')}, {'customer_number': 233, 'check_number': 'BOFA23232', 'payment_date': datetime.date(2005, 5, 20), 'amount': Decimal('29070.38')}, {'customer_number': 242, 'check_number': 'HR224331', 'payment_date': datetime.date(2005, 6, 3), 'amount': Decimal('12432.32')}, {'customer_number': 250, 'check_number': 'EQ12267', 'payment_date': datetime.date(2005, 5, 17), 'amount': Decimal('17928.09')}, {'customer_number': 276, 'check_number': 'EM979878', 'payment_date': datetime.date(2005, 2, 9), 'amount': Decimal('27083.78')}, {'customer_number': 276, 'check_number': 'OJ819725', 'payment_date': datetime.date(2005, 4, 30), 'amount': Decimal('29848.52')}, {'customer_number': 282, 'check_number': 'OD327378', 'payment_date': datetime.date(2005, 1, 3), 'amount': Decimal('31835.36')}, {'customer_number': 311, 'check_number': 'DG336041', 'payment_date': datetime.date(2005, 2, 15), 'amount': Decimal('46770.52')}, {'customer_number': 320, 'check_number': 'GJ597719', 'payment_date': datetime.date(2005, 1, 18), 'amount': Decimal('8307.28')}, {'customer_number': 321, 'check_number': 'LA556321', 'payment_date': datetime.date(2005, 3, 15), 'amount': Decimal('46781.66')}, {'customer_number': 323, 'check_number': 'AL493079', 'payment_date': datetime.date(2005, 5, 23), 'amount': Decimal('75020.13')}, {'customer_number': 333, 'check_number': 'NF959653', 'payment_date': datetime.date(2005, 3, 1), 'amount': Decimal('21432.31')}, {'customer_number': 334, 'check_number': 'CS435306', 'payment_date': datetime.date(2005, 1, 27), 'amount': Decimal('45785.34')}, {'customer_number': 350, 'check_number': 'OB648482', 'payment_date': datetime.date(2005, 1, 29), 'amount': Decimal('1834.56')}, {'customer_number': 353, 'check_number': 'CO351193', 'payment_date': datetime.date(2005, 1, 10), 'amount': Decimal('49705.52')}, {'customer_number': 353, 'check_number': 'HJ618252', 'payment_date': datetime.date(2005, 6, 9), 'amount': Decimal('46656.94')}, {'customer_number': 379, 'check_number': 'CA762595', 'payment_date': datetime.date(2005, 2, 12), 'amount': Decimal('28322.83')}, {'customer_number': 381, 'check_number': 'GB117430', 'payment_date': datetime.date(2005, 2, 3), 'amount': Decimal('14379.90')}, {'customer_number': 398, 'check_number': 'AJ478695', 'payment_date': datetime.date(2005, 2, 14), 'amount': Decimal('33967.73')}, {'customer_number': 398, 'check_number': 'JPMR4544', 'payment_date': datetime.date(2005, 5, 18), 'amount': Decimal('615.45')}, {'customer_number': 406, 'check_number': 'BJMPR4545', 'payment_date': datetime.date(2005, 4, 23), 'amount': Decimal('12190.85')}, {'customer_number': 448, 'check_number': 'FS299615', 'payment_date': datetime.date(2005, 4, 18), 'amount': Decimal('27966.54')}, {'customer_number': 452, 'check_number': 'HG635467', 'payment_date': datetime.date(2005, 5, 3), 'amount': Decimal('8807.12')}, {'customer_number': 462, 'check_number': 'ED203908', 'payment_date': datetime.date(2005, 4, 15), 'amount': Decimal('30293.77')}, {'customer_number': 496, 'check_number': 'EU531600', 'payment_date': datetime.date(2005, 5, 25), 'amount': Decimal('30253.75')}]

### Problem 5 (Sales) 

Show the top product for 2005 by total revenue generated.

In [6]:
payment2 = sales.Payment()
# Fetch the maximum amount
max_payment = payment2.fetch('amount').max()

print(max_payment)

# Fetch the results using DataJoint restrictions
result1 = (payment1 & 'payment_date > "2004-12-31"' & 'payment_date < "2006-01-01"').proj('customer_number', 'check_number', 'payment_date', 'amount')

# Fetch the maximum amount along with other details
max_amount = result1.fetch('amount').max()
max_payment = result1 & 'amount = {}'.format(max_amount)

# Fetch and display the result with maximum amount
final_result1 = max_payment.fetch(as_dict=True)
print(final_result1)

120166.58
[{'customer_number': 141, 'check_number': 'JE105477', 'payment_date': datetime.date(2005, 3, 18), 'amount': Decimal('120166.58')}]

### Problem 6 (Sales)

Show the employees and the total sales amounts they have generated.

In [95]:

(sales.Employee * sales.Order * sales.Payment).proj('employee_number', 'amount')

*employee_numb *order_number  *customer_numb *check_number  amount
+------------+ +------------+ +------------+ +------------+ +----------+
1002           10100          363            HL575273       50799.69
1002           10100          363            IS232033       10223.83
1002           10100          363            PN238558       55425.77
1002           10101          128            DI925118       10549.01
1002           10101          128            FA465482       24101.81
1002           10101          128            FH668230       33820.62
1002           10101          128            IP383901       7466.32
1002           10102          181            CM564612       22602.36
1002           10102          181            GQ132144       5494.78
1002           10102          181            OH367219       44400.50
1002           10103          121            DB889831       50218.95
1002           10103          121            FD317790       1491.38
   ...
 (Total: 29371)

### Problem 7 (Nation)
Show all continents, along with their populations and GDP in 2018.

In [3]:
%%sql

SELECT c.continent_id, 
       SUM(cs.pop_sum) AS pop_sum, 
       SUM(cs.gdp_sum) AS gdp_sum
FROM (
    SELECT country_id,
           SUM(population) AS pop_sum, 
           SUM(gdp) AS gdp_sum 
    FROM nation.country_stats 
    WHERE year = 2018
    GROUP BY country_id
) cs
JOIN (
    SELECT country_id, region_id 
    FROM nation.countries
) co ON cs.country_id = co.country_id
JOIN (
    SELECT name, continent_id 
    FROM nation.continents
) c ON co.region_id = c.continent_id
GROUP BY c.continent_id;

 * mysql://root:***@localhost
7 rows affected.

[(1, Decimal('29931777'), Decimal('239302257574')),
 (2, Decimal('1886888188'), Decimal('3735214333532')),
 (3, Decimal('169121858'), Decimal('247183690539')),
 (4, Decimal('143155033'), Decimal('4136433513616')),
 (5, Decimal('253973023'), Decimal('3250015694470')),
 (6, Decimal('394528800'), Decimal('3493964579536')),
 (7, Decimal('310835'), Decimal('1354435791'))]

### Problem 8 (Nation)

Show the top 12 languages by the number of countries in which they are spoken.

### Problem 9 (Nation)

Show the top 12 languages by the number of countries in which they are the official language.

### Problem 10 (University)

Show all departments along with the numbers of students who have majored in them.

In [111]:
%%sql
SELECT 
    d.dept AS department_name,
    COUNT(sm.student_id) AS n
FROM 
    university.department d
JOIN 
    university.student_major sm
ON 
    d.dept = sm.dept
GROUP BY 
    d.dept;

 * mysql://root:***@localhost
4 rows affected.

[('BIOL', 52), ('CS', 26), ('MATH', 37), ('PHYS', 36)]

### Problem 11 (University)

Show the top 10 students who have taken the most courses.

In [96]:
%%sql
SELECT first_name, last_name, sum(points * credits)/sum(credits) as gpa FROM university.student
NATURAL JOIN university.course
NATURAL JOIN university.grade
NATURAL JOIN university.`#letter_grade`
GROUP BY student_id
ORDER BY gpa DESC
LIMIT 10

 * mysql://root:***@localhost
10 rows affected.

[('Omar', 'Harrell', Decimal('3.6650000')),
 ('Christopher', 'Campbell', Decimal('3.5850000')),
 ('Tony', 'Thompson', Decimal('3.3650000')),
 ('Eric', 'Reed', Decimal('3.3300000')),
 ('Chelsea', 'Goodman', Decimal('3.3300000')),
 ('Karen', 'Poole', Decimal('3.2436364')),
 ('Christopher', 'Lopez', Decimal('3.2233333')),
 ('Susan', 'Smith', Decimal('3.1820455')),
 ('Dominique', 'Mcknight', Decimal('3.1311111')),
 ('Charles', 'Hahn', Decimal('3.0173684'))]

### Problem 12 (University)

Show all the math courses offered in the current term and the number of students registered in each.

In [150]:
%%sql
SELECT 
    d.dept AS department_name,
    c.course,  
    COUNT(sm.student_id) AS reg_stud
FROM 
    university.department d  
JOIN 
    university.course c  
    ON d.dept = c.dept  
JOIN 
    university.student_major sm  
    ON sm.dept = c.dept  
WHERE
    d.dept = 'MATH'  
GROUP BY
    d.dept, c.course;

 * mysql://root:***@localhost
9 rows affected.

[('MATH', 1210, 37),
 ('MATH', 1220, 37),
 ('MATH', 1250, 37),
 ('MATH', 1260, 37),
 ('MATH', 2210, 37),
 ('MATH', 2270, 37),
 ('MATH', 2280, 37),
 ('MATH', 3210, 37),
 ('MATH', 3220, 37)]

### Problem 13 (University)

List all MATH courses along with the total number of students who have ever taken them.

In [ ]:
(university.Course * university.StudentMajor * university.CurrentTerm).proj()

*dept    *course    *student_id    *term_year    *term    course_name    credits     declare_date
+------+ +--------+ +------------+ +-----------+ +------+ +------------+ +---------+ +------------+
BIOL     1006       102            2023          Fall     World of Dinos 3.0         2019-05-27
BIOL     1006       103            2023          Fall     World of Dinos 3.0         2008-07-29
BIOL     1006       105            2023          Fall     World of Dinos 3.0         2013-11-20
BIOL     1006       116            2023          Fall     World of Dinos 3.0         1999-01-27
BIOL     1006       117            2023          Fall     World of Dinos 3.0         2008-03-10
BIOL     1006       119            2023          Fall     World of Dinos 3.0         2007-06-30
BIOL     1006       120            2023          Fall     World of Dinos 3.0         2016-11-01
BIOL     1006       126            2023          Fall     World of Dinos 3.0         2007-06-22
BIOL     1006       135            2023          Fall     World of Dinos 3.0         2023-05-28
BIOL     1006       136            2023          Fall     World of Dinos 3.0         2014-01-30
BIOL     1006       139            2023          Fall     World of Dinos 3.0         2005-11-18
BIOL     1006       147            2023          Fall     World of Dinos 3.0         2005-09-23
   ...
 (Total: 1687)